project:
  type: website
  output-dir: docs

website:
  title: "Johan de Aguas"
  navbar:
    background: primary
    left:
      - href: index.qmd
        text: Home
      - href: research.qmd
        text: Research
      - href: https://johandh2o.github.io/blog/
        text: Blog
format:
  html:
    theme: journal
    css: styles.css
    toc: true

editor: visual